<div class="nameCount">
    <h1>Hello, {{userName.theName}} has been greeted {{count.theCount}} times.</h1>
</div>
<div class="link">
    <a href="/greetings">Return to names greeted</a>
    <a href="/">Return to greeting</a>
</div>