<style>
    .Counter{
    text-align: center;
    color: white;
}
.link{
    text-align: center;
}
.listPage{
    background-color: grey;
}
</style>

<div class="listPage">

    <div class="Counter">
        <h4>Hello, {{Names}} has been greeted {{counters}} times.</h4>
    </div>
    <div class="link">
        <a href="/list">List page</a>
        <a href="/">home page</a>
    </div>
</div>