<header class="listOfaNames">
    <h3>Names has been Greeted</h3>
</header>
<div class="container">
    <div class="class NameList">
        <table>
            {{#each names}}
            <tr>
                <a class="NameGreeted" href="/counter/{{@key}}">
                    <h5>{{@key}}</h5>
                </a>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="class home">
        <a class="back" href="/">Back</a>
    </div>
</div>