<div class="body_center ">

    <div>
        <h1>Greetings to all names!</h1>
        <div class="err">
            <span class="errorMessage">{{error}}</span>
        </div>

        <form action="/greeted" method="post">
            <div>
                <label class="la">
                    <input type="text" value="" name="Names" class="greetTextHolder"
                        placeholder="Type in your name here!">
                    <h3>Counter: <span class="numberCounter">{{counter}}</span></h3>
                </label>
            </div>

            <div class="container">
                <label for="" class="">
                    <input type="radio" name="languageRadio" class="langRadio" value="english">
                    <span class="langText">English</span>
                </label>
                <label for="" class="">
                    <input type="radio" name="languageRadio" class="langRadio" value="sesotho">
                    <span class="langText">Sesotho</span>
                </label>
                <label for="" class="">
                    <input type="radio" name="languageRadio" class="langRadio" value="isixhosa">
                    <span class="langText">IsiXhosa</span>
                </label>
            </div>


            <div class="container1">
                <button class="greetButton" type="submit">Greet</button>
            </div>
        </form>
        <div>

        </div>
        <a href="reset"><button class="resetButton" type="submit">reset</button></a>

        <div>
            <h3><span class="greetText">{{greeting}}</span></h3>
        </div>

        <div>
            <h3><span class="errors">{{success}}</span></h3>
        </div>
    </div>
    <div class="Btn">

        <a href="list"><button class="listButton">List Usernames</button></a>
        <ul class="obj2"></ul>
    </div>
    <div id='namesList'>

    </div>
</div>

<div>

</div>
</div>
</div>