<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>A Greetings Web App</h1>

        <form action="/greeting" method="post">
            <input type="text" name="name" placeholder="">
        </form>
    </div>
    <div class="row">
        <label for="" class="">
            <input type="radio" name="languageRadio" class="langRadio" value="english">
            <span class="langText">English</span>
        </label>
        <label for="" class="">
            <input type="radio" name="languageRadio" class="langRadio" value="sesotho">
            <span class="langText">Sesotho</span>
        </label>
        <label for="" class="">
            <input type="radio" name="languageRadio" class="langRadio" value="isixhosa">
            <span class="langText">Isixhosa</span>
        </label>

        <div class="container1">

            <form action="/greeting" method="post">
                <button>Greet me</button>
                <button class="resetButton">reset</button>
            </form>
        </div>

        <div>
            <h3><span class="greetText"></span></h3>
        </div>
    </div>
</body>

</html>